<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="issueTracker" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="issueTracker" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="issueTracker" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="issueTracker" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>My AngularJS App</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="app/bower_components/html5-boilerplate/dist/css/normalize.css">
  <link rel="stylesheet" href="app/bower_components/html5-boilerplate/dist/css/main.css">
  <link rel="stylesheet" href="app/bower_components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="app/bower_components/toastr/toastr.css">
  <link rel="stylesheet" href="app/app.css">
  <script src="app/bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>
</head>
<body ng-controller="MainController">

<div ng-if="mainControllerAuthentication" class="buttons">
  <button ng-click="projectPath()">Projects</button>
  <button ng-click="dashboardPath()">Dashboards</button>
  <button  ng-controller="HomeController" ng-click="logoutt()">LogOut</button>
</div>

  <div ng-view>

  </div>

  <script src="app/bower_components/jquery/dist/jquery.min.js"></script>
  <script src="app/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="app/bower_components/toastr/toastr.js"></script>
  <script src="app/bower_components/angular/angular.js"></script>
  <script src="app/bower_components/angular-route/angular-route.js"></script>
  <script src="app/app.js"></script>
  <script src="app/user/authentication.js"></script>
  <script src="app/user/identity.js"></script>
  <script src="app/home/home-controller.js"></script>
  <script src="app/dashboard/dashboard-controller.js"></script>
  <script src="app/dashboard/dashboardProjects.js"></script>
  <script src="app/common/main-controller.js"></script>
  <script src="app/projects/projects-controller.js"></script>
  <script src="app/projects/addProjectFactory.js"></script>
  <script src="app/projects/add-project-controller.js"></script>
  <script src="app/bower_components/angular-cookies/angular-cookies.js"></script>
</body>
</html>
